{
	presets: [
		['platform', {
			browser: {
				presets: [
					['env', {
						targets: {
							browsers: ['last 2 versions', 'ie >= 11']
						}
					}]
				]
			},
			node: {
				presets: [
					['env', {
						targets: { node: 4 }
					}]
				]
			},
			'*': {
				presets: [
					['env', { useBuiltins: true }]
				]
			}
		}]
	],
	plugins: [
		'transform-runtime',
		'transform-object-rest-spread',
		'transform-export-extensions'
	],
	env: {
		test: {
			plugins: [
				'istanbul'
			]
		}
	}
}
