{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["last 2 versions", "> 5%"]
			},
			"useBuiltins": true
		}]
	],
	"plugins": [
		"transform-object-assign",
		"transform-object-rest-spread",
		"transform-export-extensions",
		"transform-class-properties"
	],
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		}
	}
}
